<section data-ng-controller="TechnologiesController" data-ng-init="findOneEditMode()">
    <div class="page-header">
        <h1>Edit Technology</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="technology.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                    <label class="control-label" for="description">Description</label>
                    <div class="controls">
                        <input type="text" data-ng-model="technology.description" id="description" class="form-control" placeholder="Description" required>
                    </div>
                    <label class="control-label" for="tags">Tags (separated by comma)</label>
                    <div class="controls">
                        <input type="text" data-ng-model="technology.tags" id="tags" class="form-control" placeholder="Tags (separated by comma)" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>