<section data-ng-controller="TechnologiesController" data-ng-init="find()">
    <div class="page-header">
        <h1>Technologies</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="technology in technologies" data-ng-href="#!/technologies/{{technology._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="technology.created | date:'medium'"></span>
				by
				<span data-ng-bind="technology.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="technology.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!technologies.$resolved || technologies.length">
    	No Technologies yet, why don't you <a href="/#!/technologies/create">create one</a>?
    </div>
</section>