<section data-ng-controller="TechnologiesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="technology.name"></h1>
		<p data-ng-bind="technology.description"></p>
		<h4>Tags</h4>
	    <div class="list-group">
	        <a data-ng-repeat="tag in technology.tags" class="list-group-item">
				<span data-ng-bind="tag"></span>
	        </a>
	    </div>
	    <a class="btn btn-primary" data-ng-href="/#!/technologies/{{technology._id}}/questions">View {{technology.name}} questions</a>
	</div>
	<div class="pull-right" data-ng-show="authentication.user">
		<a class="btn btn-primary" href="/#!/technologies/{{technology._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="technology.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="technology.user.displayName"></span>
		</em>
	</small>
</section>