<section data-ng-controller="HomeController">
	<div data-ng-hide="authentication.user">
		<h2>No user logged in</span></h2>
	</div>
	<div data-ng-show="authentication.user">
		<h3>Welcome to DevSpark's IQMS, <span data-ng-bind="authentication.user.displayName"></span></h3>
		<h4>This system allows easier management of the interview questions and provides the ability to generate questionnaires.</h4>
	</div>
</section>
