<section class="row" data-ng-controller="AuthenticationController">
	<h3 class="col-md-12 text-center">Sign in using your DevSpark account</h3>
	<div class="col-md-12 text-center">
		<a href="/auth/google" class="undecorated-link">
			<img src="/modules/users/img/buttons/devspark.png">
		</a>
	</div>
</section>