<section data-ng-controller="ExamsController" data-ng-init="findDataEditMode()">
    <div class="page-header">
        <h1>Edit Exam</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="technology">Technology</label>
                    <div class="list-group">
                        <select required ng-model="exam.technology"
                            ng-options="technology.name for technology in technologies">
                                <option value="">-- Choose technology --</option>
                        </select>
                    </div>
                    <label class="control-label" for="email">Candidate email</label>
                    <div class="controls">
                        <input type="email" data-ng-model="exam.email" id="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div ng-repeat="dl in difficultyLevels">
                        <label class="control-label" for="number">Number of {{dl}} Level Questions</label>
                        <div class="controls">
                            <input type="number" min="0" value="0" data-ng-model="numbers[dl]" id="number" class="form-control" placeholder="Number of {{dl}} Level Questions" required>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
                <div data-ng-show="error" class="text-danger">
                    <strong data-ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</section>