<section data-ng-controller="ExamsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Exams</h1>
    </div>
    <label>Search by:</label>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            Technology:
          </span>
          <input class="form-control" ng-model="query.technology.name">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-addon">
            Candidate:
          </span>
          <input class="form-control" ng-model="query.email">
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <hr>
    <div class="list-group">
        <a data-ng-repeat="exam in exams | filter:query" data-ng-href="#!/exams/{{exam._id}}" class="list-group-item">
            <small class="list-group-item-text">
                Posted on
                <span data-ng-bind="exam.created | date:'medium'"></span>
                by
                <span data-ng-bind="exam.user.displayName"></span>
            </small>
            <p>
                <label>Candidate:</label><span data-ng-bind="exam.email"></span>
                <label>Technology:</label><span data-ng-bind="exam.technology.name"></span>
            </p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!exams.$resolved || exams.length">
    	No Exams yet, why don't you <a href="/#!/exams/create">create one</a>?
    </div>
</section>