<section data-ng-controller="ExamsController" data-ng-init="loadExam()">
	<div class="page-header">
		<p><span>Technology: </span><span data-ng-bind="technology.name"></span></p>
		<p><span>Candidate Email: </span><span data-ng-bind="exam.email"></span></p>
		<p><span>Number of Basic Level Questions: </span><span data-ng-bind="exam.basicNumberOfQuestions"></span></p>
		<p><span>Number of Intermediate Level Questions: </span><span data-ng-bind="exam.intermediateNumberOfQuestions"></span></p>
		<p><span>Number of High Level Questions: </span><span data-ng-bind="exam.highNumberOfQuestions"></span></p>
		<p>Questions:</p>
		<div class="list-group">
	        <a data-ng-repeat="question in questionsForExam" data-ng-href="#!/questions/{{question._id}}" class="list-group-item">
				<small class="list-group-item-text">
					Level
					<span data-ng-bind="question.difficultyLevel"></span>
				</small>
				<h5 class="list-group-item-heading" data-ng-bind="question.question"></h5>
	        </a>
	    </div>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == exam.user._id))">
		<a class="btn btn-primary" ng-click="download();">
			<i class="glyphicon glyphicon-print"></i>
		</a>
		<a class="btn btn-primary" href="/#!/exams/{{exam._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="exam.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="exam.user.displayName"></span>
		</em>
	</small>
</section>
