<section data-ng-controller="QuestionsController" data-ng-init="findTechnologies()">
    <div class="page-header">
        <h1>New Question</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="question">Question</label>
                    <div class="list-group">
                        <input type="text" data-ng-model="question" id="question" class="form-control" placeholder="Question" required>
                    </div>
                    <label class="control-label" for="technology">Technology</label>
                    <div class="list-group">
                        <select required ng-model="technology"
                            ng-options="technology.name for technology in technologies">
                                <option value="">-- Choose technology --</option>
                        </select>
                    </div>
                    <label class="control-label" for="difficultyLevel">Difficulty level</label>
                    <div class="list-group">
                        <select required ng-model="difficultyLevel"
                            ng-options="dl for dl in difficultyLevels">
                                <option value="">-- Choose difficulty level --</option>
                        </select>
                    </div>
                    <label class="control-label" for="score">Score</label>
                    <div class="list-group">
                        <select required ng-model="score"
                        ng-options="s.toString() for s in scores">
                                <option value="">-- Choose score --</option>
                        </select>
                    </div>
                    <label class="control-label" for="type">Question type</label>
                    <div class="list-group">
                        <select required ng-model="type"
                            ng-options="t for t in types">
                                <option value="">-- Choose question type --</option>
                        </select>
                    </div>
                    <label ng-show="type != undefined" class="control-label">Answer</label>
                    <button type="button" ng-show="type == types[0] || type == types[1]" ng-click="addAnswerForType(type)" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" ng-show="type == types[0] || type == types[1]" ng-click="removeAnswerForType(type)" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <div class="list-group">
                        <div ng-show="type == types[0]">Single Choice
                            <div ng-repeat="choice in singleChoiceAnswers">
                                <div class="form-inline">
                                    <input ng-model="choice.isCorrect" type="checkbox">
                                    <input ng-model="choice.text" type="text" class="form-control" placeholder="Answer">
                                </div>
                            </div>
                        </div>
                        <div ng-show="type == types[1]">Multiple Choice
                            <div ng-repeat="choice in multipleChoiceAnswers">
                                <div class="form-inline">
                                    <input ng-model="choice.isCorrect" type="checkbox">
                                    <input ng-model="choice.text" type="text" class="form-control" placeholder="Answer">
                                </div>
                            </div>
                        </div>
                        <div ng-show="type == types[2]">Keyword Based
                            <input ng-model="keywordBasedAnswers" type="text" class="form-control" placeholder="Answer">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>