<section data-ng-controller="QuestionsController" data-ng-init="findDataEditMode();">
    <div class="page-header">
        <h1>Edit Question</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="question">Question</label>
                    <div class="list-group">
                        <input type="text" data-ng-model="question.question" id="question" class="form-control" placeholder="Question" required>
                    </div>
                    <label class="control-label" for="technology">Technology</label>
                    <div class="list-group">
                        <select required ng-model="question.technology"
                            ng-options="technology.name for technology in technologies">
                        </select>
                    </div>
                    <label class="control-label" for="difficultyLevel">Difficulty level</label>
                    <div class="list-group">
                        <select required ng-model="question.difficultyLevel"
                            ng-options="dl for dl in difficultyLevels">
                        </select>
                    </div>
                    <label class="control-label" for="score">Score</label>
                    <div class="list-group">
                        <select required ng-model="question.score"
                        ng-options="s.toString() for s in scores">
                        </select>
                    </div>
                    <label class="control-label" for="type">Question type</label>
                    <div class="list-group">
                        <select required ng-model="question.type" ng-change="setAnswers(question.answers)"
                            ng-options="t for t in types">
                        </select>
                    </div>
                    <label ng-show="question.type != undefined" class="control-label">Answer</label>
                    <button type="button" ng-show="question.type == types[0] || question.type == types[1]" ng-click="addAnswer(question.answers)" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <button type="button" ng-show="question.type == types[0] || question.type == types[1]" ng-click="removeAnswer(question.answers)" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <div class="list-group">
                        <div ng-show="question.type == types[0]">Single Choice
                            <div ng-repeat="choice in question.answers">
                                <div class="form-inline">
                                    <input ng-model="choice.isCorrect" type="checkbox">
                                    <input ng-model="choice.text" type="text" class="form-control" placeholder="Answer">
                                </div>
                            </div>
                        </div>
                        <div ng-show="question.type == types[1]">Multiple Choice
                            <div ng-repeat="choice in question.answers">
                                <div class="form-inline">
                                    <input ng-model="choice.isCorrect" type="checkbox">
                                    <input ng-model="choice.text" type="text" class="form-control" placeholder="Answer">
                                </div>
                            </div>
                        </div>
                        <div ng-show="question.type == types[2]">Keyword Based
                            <input ng-model="question.answers[0].text" type="text" class="form-control" placeholder="Answer">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>