<section data-ng-controller="QuestionsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="question.question"></h1>
		<p><span>Score: </span><span data-ng-bind="question.score"></span></p>
		<p><span>Difficulty Level: </span><span data-ng-bind="question.difficultyLevel"></span></p>
		<p><span>Question Type: </span><span data-ng-bind="question.type"></span></p>
		<div class="table-responsive">
			<table class="table table-bordered">
				<tr>
					<th>Answer</th>
					<th>Result</th>
				</tr>
				<tr ng-repeat="answer in question.answers">
					<td>{{answer.text}}</td>
					<td>{{answer.isCorrect}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="pull-right" data-ng-show="authentication.user">
		<a class="btn btn-primary" href="/#!/questions/{{question._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="question.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="question.user.displayName"></span>
		</em>
	</small>
</section>